// .window-icons-width {
//   width: 65px;
// }

// .btn > a {
//   color: inherit;
// }

// .btn > a:hover {
//   color: inherit;
// }

// .download-btn {
//   transition: background-color 0.2s ease;
// }

// .download-btn:hover {
//   background-color: rgba(0, 0, 0, 0.05);
// }

// [data-bs-theme="light"] .download-btn:hover {
//   background-color: rgba(0, 0, 0, 0.06);
// }

// [data-bs-theme="dark"] .download-btn:hover {
//   background-color: rgba(255, 255, 255, 0.08);
// }

.window {
  &__icons {
    width: 65px;
  }

  &__download-btn {
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  [data-bs-theme="light"] &__download-btn:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }

  [data-bs-theme="dark"] &__download-btn:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }

  &__btn-link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}
