.tech-stack-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.tech-stack-track {
  display: flex;
  gap: 40px;
  width: fit-content;
  animation: scroll 40s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.tech-stack-item {
  // flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.3s ease,
    color 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
