#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

.text-changer {
  font-size: 2.5rem;
}

.roles-wrapper {
  height: 1.2em;
  overflow: hidden;
  position: relative;
}

.roles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: rotateRoles 9s infinite;
}

.roles span {
  height: 1.2em;
  line-height: 1.2em;
  font-weight: 600;
  background: linear-gradient(90deg, #ce84fc, #22d3ee, #c084fc);
  background-size: 200% 100%;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotateRoles {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-1.2em);
  }
  53% {
    transform: translateY(-1.2em);
  }

  66% {
    transform: translateY(-2.4em);
  }
  86% {
    transform: translateY(-2.4em);
  }

  100% {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .roles {
    animation: none;
  }
}

/*
.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
} */
